@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');
body {
    font-family: 'Trispace', sans-serif;
    background-color: #FDF8ED;

}
.content {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.header {
    background-color: #587D71;
    border-radius: 20px;
    width:600px;
    color: #F9ECCC;
    /*padding-left: 1%;*/
}
.cards-container {
    left: 50%;
    vertical-align: center ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1% 1%;
    grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6"
    "card7 card8 card9";
    justify-items: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: #ABD9AF;
    border-radius: 20px;
}
.cards {
    border-radius: 15px;
    height: 90%;
    width: 90%;
    text-align: center;
}

.filler {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #F9ECCC;
    transition: all 2s ease;
    transform-style: preserve-3d;;
    text-align-all: center;
}

.filler:hover {
    transform: rotateY(180deg);
    background-color: #F7934C;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
}
.back {
    transform: rotateY(180deg);
}

.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.card7 { grid-area: card7; }
.card8 { grid-area: card8; }
.card9 { grid-area: card9; }